/* Adjust styles as needed for your design */
footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-contact p {
    margin: 0;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  @media (max-width: 767px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-links ul li {
        margin-bottom: 5px;
    }
}